body {
  position: relative;
}
.Doodles {
  position: absolute;
  z-index: -5;
}

#Blue-Squiggle {
  top: 1vh;
  left: 1vw;
  width: 8vw;
}

#Cardboard-Box {
  top: 55vh;
  left: 65vw;
  width: 9vw;
}

#Crayon {
  top: 140vh;
  left: 40vw;
  width: 8vw;
}

#Mannequin {
  top: 37vh;
  left: 5vw;
  width: 7vw;
}

#Orange-Tree {
  bottom: -5;
  left: 70vw;
  width: 8vw;
}

#Pink-Squiggle {
  top: 125vh;
  right: 2vw;
  width: 7vw;
}

#Red-Squiggle {
  top: 150vh;
  left: -4vw;
  width: 8vw;
}

#Spider {
  top: 0vh;
  left: 50vw;
  width: 7vw;
}

#Spikeball {
  top: 15vh;
  left: 75vw;
  width: 9vw;
}
