/* body {
    position: relative;

} */
/* .Doodles {
  position: absolute;
  z-index: -5;
}

#Blue-Squiggle {
  top: 1vh;
  left: 1vw;
  width: 8vw;
}

#Cardboard-Box {
  top: 45vh;
  left: 10vw;
  width: 7vw;
}

#Crayon {
  top: 15vh;
  left: 75vw;
  width: 9vw;
  transform: rotate(45deg);
}

#Mannequin {
  top: 113vh;
  left: 15vw;
  width: 5vw;
}

#Orange-Tree {
  top: 148vh;
  left: 70vw;
  width: 8vw;
}

#Pink-Squiggle {
  top: 125vh;
  left: 55vw;
  width: 7vw;
}

#Red-Squiggle {
  top: 150vh;
  left: 2vw;
  width: 8vw;
}

#Spider {
  top: 140vh;
  left: 40vw;
  width: 8vw;
}

#Spikeball {
  top: 55vh;
  left: 60vw;
  width: 7vw;
} */
