body {
  color: #414141;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  background-image: url("/images/SKY_BACKGROUND_MAIN.png");
  background-size: cover; /* Scales the image to cover the entire body */
  background-attachment: fixed; /* Keeps the background in place when scrolling */
  background-position: center top; /* Centers the image at the top */
}

#headerimage {
  width: 100vw; /* Full viewport width */
  height: auto; /* Auto height to maintain aspect ratio */
  display: block;
}

.cloud-header {
  width: 100%;
  max-height: 20vh;
  margin: 0; /* Removes margins */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
}

P {
  font-size: 20px;
}

hr {
  height: 2px;
  background-color: black;
  margin: 60px;
}
