body { 
  color: #414141; 
  margin: 4vw;
  background-color: #81bee2; 
}

#headerimage { background: no-repeat center fixed;
background-size: cover; 
}

.cloud-header {
  width: 100;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: #81bee2; 
   background-size: cover;
}
  
h1 {
    display: flex;
    justify-content: center;
}

P {
  font-size: 20px;
}

hr {
  height: 2px;
  background-color: black;
  margin: 60px;
}
