body { 
  color: #414141; 
  margin: 2vw;
  background-color: #81bee2); 
}
h1 {
    display: flex;
    justify-content: center;
}

P {
  font-size: 20px;
}

hr {
  height: 2px;
  background-color: black;
  margin: 60px;
}
